.ads {
	height: 50lvh;
	width: 250px;
	margin-top: 16px;
	text-align: center;
	animation: skeleton-loading 1s linear infinite alternate;
}

.ads p {
	height: 90%;
	display: flex;
	align-items: center;
	justify-content: center;
}

@keyframes skeleton-loading {
	0% {
		background-color: hsl(200, 20%, 80%);
	}
	100% {
		background-color: hsl(200, 20%, 95%);
	}
}
