@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

body {
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poetsen One', sans-serif;
	background-color: #f5f5f5;
}

.container {
	max-width: 1480px;
	margin: 0 auto;
}

.banner {
	width: 100%;
	margin: 200px auto;
	line-height: 1.5;
	text-align: center;
}
