.header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	padding: 20px 0;

	a {
		color: #000;
		text-decoration: none;
	}

	&__logo {
		align-self: center;
		font-size: 32px;
		font-weight: 600;
	}

	&__nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 50px;

		&__active {
			color: #5a5a5a !important;
		}
	}
}
