.container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 20px 20px;
}

.productSection {
	position: relative;
	display: flex;
	justify-content: space-between;
	gap: 20px;
	margin: 0 -10px;
}

.productImage {
	width: 50%;
	padding: 0 10px;
}

.productDetails {
	width: 50%;
	padding: 0 10px;
}

.productImage img {
	width: 100%;
	height: auto;
	object-fit: cover;
	border-radius: 8px;
}

.productBrand {
	font-size: 0.875rem;
	color: #718096;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}

.productTitle {
	font-size: 2rem;
	color: #1a202c;
	font-weight: 500;
	margin: 10px 0;
}

.productCategory {
	font-size: 0.775rem;
	color: #718096;
	text-transform: uppercase;
	letter-spacing: 0.01em;
}

.productDescription {
	margin-bottom: 20px;
}

.productOptions {
	display: flex;
	align-items: center;
	padding-bottom: 20px;
	border-bottom: 2px solid #edf2f7;
	margin-bottom: 20px;
}

.productColor {
	display: flex;
	align-items: center;
}

.productColor span {
	margin-right: 10px;
}

.colorButton {
	width: 24px;
	height: 24px;
	border: 2px solid #cbd5e0;
	border-radius: 50%;
	margin-right: 5px;
	cursor: pointer;
}

.colorButton:nth-child(2) {
	background-color: #4a5568;
}

.colorButton:nth-child(3) {
	background-color: #5a67d8;
}

.productSize {
	display: flex;
	align-items: center;
	margin-left: 20px;
}

.productSize span {
	margin-right: 10px;
}

.sizeSelect {
	border: 1px solid #cbd5e0;
	padding: 5px 10px;
	border-radius: 4px;
}

.sizeSelect:focus {
	outline: none;
	border-color: #5a67d8;
	box-shadow: 0 0 0 2px #b2f5ea;
}

.productPrice {
	font-size: 1.5rem;
	color: #1a202c;
	font-weight: 500;
}

.addToCart {
	margin-left: auto;
	padding: 10px 20px;
	background-color: #5a67d8;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.addToCart:hover {
	background-color: #434190;
}

.productActions {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 15vh;
}

.productActions__inner {
	display: flex;
	align-items: center;
	gap: 20px;
}

.quantity {
	display: flex;
	border: 2px solid #5a67d8;
	border-radius: 4px;
	overflow: hidden;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.quantity button {
	background-color: #5a67d8;
	color: #fff;
	border: none;
	cursor: pointer;
	font-size: 20px;
	width: 24px;
	height: 28px;
	text-align: center;
	transition: background-color 0.2s;
}

.quantity button:hover {
	background-color: #5a67d8;
}

.input-box {
	width: 20px;
	text-align: center;
	border: none;
	padding: 4px;
	font-size: 16px;
	outline: none;
}

/* Hide the number input spin buttons */
.input-box::-webkit-inner-spin-button,
.input-box::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.input-box[type='number'] {
	-moz-appearance: textfield;
}

.addToCart:before,
.qty__count:after {
	content: '';
	height: 2px;
	width: 10px;
	position: absolute;
	display: block;
	background: #000;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.quantity__amount {
	height: 28px;
	font-size: 14px;
	margin: -5px 20px;
	padding: 5px 0;
}
