.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: start;
	gap: 40px;
	height: 100%;
	position: relative;
}

.left_sidebar {
	position: sticky;
	top: 0;
	display: flex;
	flex-direction: column;
	gap: 40px;
}
