$text-gray: #5a5a5a;
$text-gray-light: #9a9a9a;

$text-xs: 0.75rem;
$text-lg: 1.125rem;
$title-font: 1.25rem;
$container-padding: 1.5rem;
$card-padding: 1rem;
$border-radius: 0.25rem;
$price-color: #333;

.card {
	margin: $card-padding;
	width: 100%;
	display: flex;
	gap: 100px;

	&__image {
		position: relative;
		overflow: hidden;
		border-radius: $border-radius;

		img {
			width: 320px;
			height: 180px;
			object-fit: cover;
			object-position: center;
			display: block;
		}
	}

	&__info {
		margin-top: 1rem;

		h3 {
			font-size: $text-xs;
			text-transform: uppercase;
			margin-bottom: 0.25rem;
			color: $text-gray-light;
			letter-spacing: 0.05em;
		}

		h2 {
			font-size: $title-font;
			font-weight: bold;
			color: $text-gray;
			margin-bottom: 0.5rem;
		}

		p {
			font-size: $text-lg;
			color: $price-color;
			margin-top: 0.25rem;
		}

		&__footer {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 100px;

			& button {
				padding: 10px 15px;
				border: 1px solid $price-color;
				background: transparent;
				cursor: pointer;
				border-radius: 10px;
			}
		}
	}

	@media screen and (max-width: 768px) {
		width: calc(100% / 2 - #{$card-padding * 2});
	}

	@media screen and (max-width: 480px) {
		width: 100%;
	}
}
