$text-gray: #5a5a5a;
$text-gray-light: #9a9a9a;

$text-xs: 0.25rem;
$text-lg: 0.75rem;
$title-font: 1.25rem;
$container-padding: 1.5rem;
$card-padding: 1rem;
$border-radius: 0.25rem;
$price-color: #333;

.container {
	display: flex;
	flex-direction: column;
	gap: 20px;
	border: 1px solid #9a9a9a;
	border-radius: 8px;
}

a {
	color: #000 !important;
	text-decoration: none;
	padding-bottom: 10px;
	text-align: center;
}

.banner {
	width: 100%;
	line-height: 1.5;
	text-align: center;
}

.card {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;

	&__info {
		margin-top: 1rem;

		&__details {
			padding: 10px;
			h3 {
				font-size: 10px;
				text-transform: uppercase;
				margin-bottom: 0.25rem;
				color: $text-gray-light;
				letter-spacing: 0.05em;
			}

			h2 {
				font-size: 14px;
				font-weight: bold;
				color: $text-gray;
				margin-bottom: 0.5rem;
			}

			p {
				font-size: 12px;
				color: $price-color;
				margin-top: 0.25rem;
			}
		}

		&__button {
			margin-right: 10px;
			padding: 2px 4px;
			border: 1px solid $price-color;
			background: transparent;
			cursor: pointer;
			border-radius: 10px;
		}
	}

	@media screen and (max-width: 768px) {
		width: calc(100% / 2 - #{$card-padding * 2});
	}

	@media screen and (max-width: 480px) {
		width: 100%;
	}
}
